In [36]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
#import plotly.graph_objs as go
#import plotly.offline as py
#import plotly.tools as tls
#from statsmodels.stats import weightstats as stests
from scipy import stats

import datetime
from datetime import datetime
import statistics as es 
import csv
import re 
import warnings
warnings.filterwarnings('ignore')
pd.set_option('display.max_columns', None)

Managing only the datasets of these groups. The others groups avaliable on Paper don' t have  tweets information, only users.

In [37]:
tweets=pd.read_csv('tweets.csv', sep=',')
tweets.drop("Unnamed: 0", axis=1, inplace=True)
users=pd.read_csv('users.csv', sep=',')
users.drop("Unnamed: 0", axis=1, inplace=True)

In [38]:
users.age

0       875
1       865
2       875
3       875
4       872
5       873
6       875
7       874
8       875
9       875
10      875
11      873
12      875
13      875
14      874
15      873
16      875
17      875
18      875
19      875
20      874
21      875
22      874
23      875
24      875
25      875
26      875
27      875
28      873
29      875
       ...
2652    378
2653    377
2654    375
2655    373
2656    371
2657    370
2658    369
2659    369
2660    368
2661    367
2662    367
2663    358
2664    343
2665    335
2666    329
2667    328
2668    328
2669    326
2670    312
2671    308
2672    304
2673    303
2674    302
2675    302
2676    301
2677    296
2678    290
2679    288
2680    271
2681    255
Name: age, Length: 2682, dtype: int64

In [3]:
#selecting columns. Droping some redundant features and unnecessary
columns_users=['user_id', 'statuses_count', 'followers_count', 'friends_count',
       'favourites_count', 'listed_count', 'url', 'location','default_profile', 
       'default_profile_image', 'profile_banner_url','profile_image_url_https', 
       'verified','age','in_following_followers','n_number_sname',
       'size_sname', 'size_description', 'size_name', 'in_number_sname', 'Alvo']
columns_tweets=['user_id','n_retweet_mean',
       'n_favorite_mean', 'n_hashtags_mean', 'n_urls_mean', 'n_mentions_mean',
       'media_size_twitter', 'dp_size_twitter', 'in_tweets_reply',
       'n_tweet_dia', 'max_count_tweet_dia', 'count_dias_tweet',
       'in_tweet_dia']

tweets.user_id = tweets.user_id.astype('float')
users.user_id = users.user_id.astype('float')

a = tweets[columns_tweets].drop_duplicates('user_id')
b = users[columns_users]
database=pd.merge(b, a, on='user_id', how='right')
database.drop('user_id', axis=1, inplace=True)
database.shape

(2682, 32)

In [4]:
database.describe()

,statuses_count,followers_count,friends_count,favourites_count,listed_count,url,location,default_profile,default_profile_image,profile_banner_url,profile_image_url_https,verified,age,in_following_followers,n_number_sname,size_sname,size_description,size_name,in_number_sname,Alvo,n_retweet_mean,n_favorite_mean,n_hashtags_mean,n_urls_mean,n_mentions_mean,media_size_twitter,dp_size_twitter,in_tweets_reply,n_tweet_dia,max_count_tweet_dia,count_dias_tweet,in_tweet_dia
count,2682.000000,2682.000000,2682.000000,2682.000000,2682.000000,2682.000000,2682.000000,2682.000000,2682.000000,2682.000000,2682.000000,2682.000000,2682.000000,2682.000000,2682.000000,2682.000000,2682.000000,2682.000000,2682.000000,2682.000000,2682.000000,2682.000000,2682.000000,2682.000000,2682.000000,2682.000000,2682.000000,2682.000000,2682.000000,2682.000000,2682.000000,2682.000000
mean,10787.033930,2137.898583,1425.043997,1960.497763,19.215138,0.297166,0.612603,0.216257,0.000746,0.406786,0.957494,0.002610,1036.398583,1.475897,0.273676,11.685682,63.352349,11.758016,0.025083,0.610365,361.033993,0.587603,0.153965,0.186887,0.350608,80.098878,27.145494,25.124907,5.394482,13.841163,98.205071,2.677712
std,24149.398623,21529.905212,3100.558496,7002.508293,143.477326,0.457096,0.487247,0.411768,0.027303,0.491326,0.201777,0.051031,599.239166,2.291934,0.798899,2.364416,44.086484,4.307292,0.073756,0.487758,1832.956449,1.831634,0.273514,0.233602,0.434944,15.623928,4.767397,36.016611,9.772203,12.751233,38.625746,2.607984
min,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,14.000000,0.000000,0.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,24.800000,1.766400,0.000000,1.000000,3.000000,3.000000,1.058201
25%,249.250000,120.000000,155.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,718.000000,0.564095,0.000000,10.000000,31.000000,9.000000,0.000000,0.000000,0.110000,0.030000,0.035000,0.025000,0.000000,71.687500,24.160325,0.000000,1.000000,7.000000,59.000000,1.600000
50%,2637.000000,543.500000,564.000000,1.000000,3.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,873.000000,1.065334,0.000000,12.000000,57.000000,13.000000,0.000000,1.000000,1.880000,0.215000,0.075000,0.060000,0.045000,83.895000,27.639800,0.000000,3.000000,10.000000,102.000000,1.960784
75%,11761.500000,1293.000000,1745.750000,844.250000,7.000000,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1183.750000,1.662419,0.000000,14.000000,89.000000,15.000000,0.000000,1.000000,82.242500,0.535000,0.155000,0.365000,0.700000,88.778750,29.831187,46.000000,6.000000,17.000000,125.000000,3.389831
max,333504.000000,986837.000000,90861.000000,185467.000000,4840.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3021.000000,42.666667,9.000000,15.000000,288.000000,23.000000,0.600000,1.000000,34467.900000,65.340000,6.275000,1.290000,2.885000,157.810000,47.769500,194.000000,114.000000,127.000000,189.000000,66.666667

In [5]:
database.head()

,statuses_count,followers_count,friends_count,favourites_count,listed_count,url,location,default_profile,default_profile_image,profile_banner_url,profile_image_url_https,verified,age,in_following_followers,n_number_sname,size_sname,size_description,size_name,in_number_sname,Alvo,n_retweet_mean,n_favorite_mean,n_hashtags_mean,n_urls_mean,n_mentions_mean,media_size_twitter,dp_size_twitter,in_tweets_reply,n_tweet_dia,max_count_tweet_dia,count_dias_tweet,in_tweet_dia
0,120,0,0,0,0,0,1,0,0,0,1,0,875,0.0,0,14,61,15,0.0,1,0.565,0.595,0.045,0.040,0.005,84.870,28.19350,0,1,21,94,2.127660
1,33,0,0,0,0,0,1,0,0,0,1,0,865,0.0,0,14,133,15,0.0,1,0.280,0.480,0.065,0.020,0.000,87.805,27.38110,0,3,18,104,1.923077
2,137,0,0,0,0,0,1,0,0,0,1,0,875,0.0,0,15,100,16,0.0,1,10.625,0.300,0.080,0.030,0.005,85.015,29.18545,0,1,16,100,2.000000
3,62,0,0,0,0,0,1,0,0,0,1,0,875,0.0,0,15,76,16,0.0,1,2.495,0.205,0.155,0.025,0.020,86.395,28.70265,0,1,20,96,2.083333
4,63,0,0,0,0,0,1,0,0,0,1,0,872,0.0,0,9,48,10,0.0,1,0.145,0.270,0.065,0.015,0.000,88.590,26.41950,0,4,20,95,2.105263

# Statistics Tests - Some backgroud hypothesis

In [6]:
#independent samples: 
bot = database[database['Alvo']==1]  
gen = database[database['Alvo']==0]

In [30]:
#selectig features to the test
columns = ["n_retweet_mean", "n_mentions_mean", "in_tweets_reply", 'age', 'size_name', 'size_sname', 'statuses_count', "n_number_sname"]
bot[columns].describe()

,n_retweet_mean,n_mentions_mean,in_tweets_reply,age,size_name,size_sname,statuses_count,n_number_sname
count,1637.000000,1637.000000,1637.000000,1637.000000,1637.000000,1637.000000,1637.000000,1637.000000
mean,13.761118,0.083845,4.712279,784.417838,12.587660,12.264508,4505.413561,0.197312
std,170.344243,0.243398,17.803283,313.840857,3.692213,2.046595,10724.394464,0.630940
min,0.000000,0.000000,0.000000,14.000000,2.000000,6.000000,5.000000,0.000000
25%,0.005000,0.000000,0.000000,719.000000,11.000000,11.000000,122.000000,0.000000
50%,0.405000,0.005000,0.000000,870.000000,13.000000,12.000000,365.000000,0.000000
75%,1.525000,0.020000,0.000000,874.000000,15.000000,14.000000,9532.000000,0.000000
max,5062.190000,2.385000,194.000000,2063.000000,23.000000,15.000000,214410.000000,9.000000

In [31]:
gen[columns].describe()

,n_retweet_mean,n_mentions_mean,in_tweets_reply,age,size_name,size_sname,statuses_count,n_number_sname
count,1045.000000,1045.000000,1045.000000,1045.000000,1045.000000,1045.000000,1045.000000,1045.000000
mean,905.039445,0.768493,57.101435,1431.128230,10.458373,10.778947,20627.237321,0.393301
std,2845.525377,0.326484,34.024913,715.731166,4.848810,2.538579,34038.518585,0.995850
min,0.000000,0.000000,0.000000,433.000000,0.000000,3.000000,210.000000,0.000000
25%,32.180000,0.560000,31.000000,620.000000,6.000000,9.000000,2995.000000,0.000000
50%,148.620000,0.750000,53.000000,1184.000000,11.000000,11.000000,8694.000000,0.000000
75%,682.390000,0.945000,78.000000,2222.000000,14.000000,13.000000,23324.000000,0.000000
max,34467.900000,2.885000,183.000000,3021.000000,20.000000,15.000000,333504.000000,8.000000

In [33]:
#those samples of class Genuine does not follow normal distribution. p-value <0.05
for i in columns:
    stat, p = stats.normaltest(gen[i])
    print(round(p, 4), i)

0.0 n_retweet_mean
0.0 n_mentions_mean
0.0 in_tweets_reply
0.0 age
0.0 size_name
0.0 size_sname
0.0 statuses_count
0.0 n_number_sname

In [34]:
#those samples of class Bot does not follow normal distribution. p-value <0.05
for i in columns:
    stat, p = stats.normaltest(bot[i])
    print(round(p, 4), i)

0.0 n_retweet_mean
0.0 n_mentions_mean
0.0 in_tweets_reply
0.0 age
0.0 size_name
0.0 size_sname
0.0 statuses_count
0.0 n_number_sname

 let's use a non-parametric median test

## 1 - Hypothesis
Do Genuine Accouts are more retweeted?

H0: Bots retweet like a genuine accounts

H1: Bots retweet more than genuine accounts

In [9]:
print("Bot retweet mean",bot['n_retweet_mean'].mean())
print("Genuine retweet mean",gen['n_retweet_mean'].mean())
stats.mannwhitneyu(bot['n_retweet_mean'].values, gen['n_retweet_mean'].values, alternative='less')

Bot retweet mean 13.761117898594982
Genuine retweet mean 905.039444976078

MannwhitneyuResult(statistic=83246.0, pvalue=0.0)

In [35]:
print("Bot retweet mean",bot['statuses_count'].mean())
print("Genuine retweet mean",gen['statuses_count'].mean())
stats.mannwhitneyu(bot['statuses_count'].values, gen['statuses_count'].values, alternative='greater')

Bot retweet mean 4505.413561392792
Genuine retweet mean 20627.237320574164

MannwhitneyuResult(statistic=332554.0, pvalue=1.0)

##### :) low P-value reject the null hypothesis. Than, i have statical evidences to accept tha genuine account are more retweeted than bots

## 2 - Hypothesis
Do bots have less mentions?

H0: Bots have the same rate of mentions than genuine accounts

H1: Bots have less rat of mentions than genuine accounts

In [12]:
print("Bot mentions mean",bot['n_mentions_mean'].mean())
print("Genuine mentions mean",gen['n_mentions_mean'].mean())
stats.mannwhitneyu(bot['n_mentions_mean'].values, gen['n_mentions_mean'].values,  alternative='less')

Bot mentions mean 0.08384544899205855
Genuine mentions mean 0.7684928229665082

MannwhitneyuResult(statistic=72868.5, pvalue=0.0)

####  :) lower P-value reject the null hypothesis. Than, have statical evidences to accept tha bot have less mentions than genuine accounts

## 3 - Hypothesis 
Do bots have less reply?

H0: Bots have the same rate of reply than genuine accounts

H1: Bots have less rat of reply than genuine accounts

In [11]:
print("Bot reply mean",bot['in_tweets_reply'].mean())
print("Genuine reply mean",gen['in_tweets_reply'].mean())
stats.mannwhitneyu(bot['in_tweets_reply'].values, gen['in_tweets_reply'].values, alternative='less')

Bot reply mean 4.712278558338424
Genuine reply mean 57.10143540669856

MannwhitneyuResult(statistic=71457.5, pvalue=0.0)

##### :) lower P-value REJECT the null hypothesis. Than, I have statical evidences to accept tha bot have less replys than genuine accounts

## 4 - Hypothesis 
Bot are younger?

h0: Age bot is the same of genuine accounts

h1: Age bot is lower than genuine accounts

In [13]:
print("bot age mean",bot['age'].mean())
print("gen age mean",gen['age'].mean())

stats.mannwhitneyu(bot['age'].values, gen['age'].values, alternative='less')

bot age mean 784.4178375076359
gen age mean 1431.1282296650718

MannwhitneyuResult(statistic=405012.5, pvalue=9.99415602747468e-118)

##### lower P-value reject the null hypothesis. Than,  have statical evidences to accept tha bots are youunger than genuine accounts

## 5 - Hypothesis

Bot have a bigger name, sname, and number in name?

h0: name's  bot is the same of genuine accounts (the same to sname and number in name)

h1: name's bot is greater than genuine accounts (the same to sname and number in name)

In [16]:
print("bot name mean",bot['size_name'].mean())
print("gen name mean",gen['size_name'].mean())
print("bot sname mean",bot['size_sname'].mean())
print("gen sname mean",gen['size_sname'].mean())
print("bot in_number_sname mean",bot['n_number_sname'].mean())
print("gen in_number_sname mean",gen['n_number_sname'].mean())
###
print("name",stats.mannwhitneyu(bot['size_name'].values, gen['size_name'].values, alternative='greater'))
print("sname",stats.mannwhitneyu(bot['size_sname'].values, gen['size_sname'].values, alternative='greater'))
print("n_number_sname",stats.mannwhitneyu(bot['n_number_sname'].values, gen['n_number_sname'].values, alternative='greater'))

bot name mean 12.587660354306658
gen name mean 10.458373205741626
bot sname mean 12.264508246792914
gen sname mean 10.778947368421052
bot in_number_sname mean 0.1973121563836286
gen in_number_sname mean 0.39330143540669854
name MannwhitneyuResult(statistic=1095429.0, pvalue=3.650656830585336e-35)
sname MannwhitneyuResult(statistic=1145221.0, pvalue=8.230732911566895e-51)
n_number_sname MannwhitneyuResult(statistic=792149.0, pvalue=0.9999999626511229)

##### lower P-value reject the null hypothesis. Than,  have statical evidences to accept that  bot's name and the sname is bigger than genuine accountss. But t have not the same evidences to quantity of number in name.

## 6 - Hypothesis

Bot have more tweets?

h0: bot have the same ammount of tweets than genuine accounts 

h1: bot have the greater ammount of tweets than genuine accounts

In [15]:
print("bot statuses_count mean",bot['statuses_count'].mean())
print("gen statuses_count mean",gen['statuses_count'].mean())

stats.mannwhitneyu(bot['statuses_count'].values, gen['statuses_count'].values, alternative='greater')

bot statuses_count mean 4505.413561392792
gen statuses_count mean 20627.237320574164

MannwhitneyuResult(statistic=332554.0, pvalue=1.0)

##### hight P-value not reject the null hypothesis. Than, i don't have statical evidences to accept tha bot have more tweets than genuine accounts