In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
#import plotly.graph_objs as go
#import plotly.offline as py
#import plotly.tools as tls
#from statsmodels.stats import weightstats as stests
from scipy import stats

import datetime
from datetime import datetime
import statistics as es 
import csv
import re 
import warnings
warnings.filterwarnings('ignore')
pd.set_option('display.max_columns', None)

## Beginning of Handling de Database User

In [19]:
#Users accounts have tweets
data1a=pd.read_csv('genuine/users.csv', sep=',')
data2a=pd.read_csv('social_spambots_1/users.csv', sep=',')
data3a=pd.read_csv('social_spambots_2/users.csv', sep=',')
data4a=pd.read_csv('social_spambots_3/users.csv', sep=',')
data5a=pd.read_csv('traditional_spambots_1/users.csv', sep=',')
#Users accounts who haven't tweets
#data6a=pd.read_csv('traditional_spambots_2/users.csv', sep=',')
#data7a=pd.read_csv('traditional_spambots_3/users.csv', sep=',')
#data8a=pd.read_csv('traditional_spambots_4/users.csv', sep=',')

In [20]:
print("quantidade colunas das bases")
print(data1a.columns.size)
print(data2a.columns.size)
print(data3a.columns.size)
print(data4a.columns.size)
print(data5a.columns.size)
#print(data6a.columns.size)
#print(data7a.columns.size)
#print(data8a.columns.size)

quantidade colunas das bases
42
41
40
41
40

In [21]:
data1a.head(2)

,id,name,screen_name,statuses_count,followers_count,friends_count,favourites_count,listed_count,url,lang,time_zone,location,default_profile,default_profile_image,geo_enabled,profile_image_url,profile_banner_url,profile_use_background_image,profile_background_image_url_https,profile_text_color,profile_image_url_https,profile_sidebar_border_color,profile_background_tile,profile_sidebar_fill_color,profile_background_image_url,profile_background_color,profile_link_color,utc_offset,is_translator,follow_request_sent,protected,verified,notifications,description,contributors_enabled,following,created_at,timestamp,crawled_at,updated,test_set_1,test_set_2
0,1502026416,TASUKU HAYAKAWA,0918Bask,2177,208,332,265,1,NaN,ja,NaN,Tokyo .Japan .,NaN,NaN,1.0,http://pbs.twimg.com/profile_images/5887331863...,https://pbs.twimg.com/profile_banners/15020264...,NaN,https://abs.twimg.com/images/themes/theme1/bg.png,000000,https://pbs.twimg.com/profile_images/588733186...,000000,NaN,000000,http://abs.twimg.com/images/themes/theme1/bg.png,000000,EB0C1F,NaN,NaN,NaN,NaN,NaN,NaN,15years ago X.Lines24,NaN,NaN,Tue Jun 11 11:20:35 +0000 2013,2013-06-11 13:20:35,2015-05-02 06:41:46,2016-03-15 15:53:47,0,0
1,2492782375,ro_or,1120Roll,2660,330,485,3972,5,NaN,ja,Tokyo,神奈川県横浜市,1.0,NaN,1.0,http://pbs.twimg.com/profile_images/5737442928...,https://pbs.twimg.com/profile_banners/24927823...,1.0,https://abs.twimg.com/images/themes/theme1/bg.png,333333,https://pbs.twimg.com/profile_images/573744292...,C0DEED,NaN,DDEEF6,http://abs.twimg.com/images/themes/theme1/bg.png,C0DEED,0084B4,32400.0,NaN,NaN,NaN,NaN,NaN,保守見習い地元大好き人間。 経済学、電工、仏教を勉強中、ちなDeではいかんのか？ (*^◯^*),NaN,NaN,Tue May 13 10:37:57 +0000 2014,2014-05-13 12:37:57,2015-05-01 17:20:27,2016-03-15 15:53:48,0,0

In [22]:
da = {} 
da['df1a'] = data1a.copy()
da['df2a'] = data2a.copy()
da['df3a'] = data3a.copy()
da['df4a'] = data4a.copy()
da['df5a'] = data5a.copy()
###
#da['df6a'] = data6a.copy()
#da['df7a'] = data7a.copy()
#da['df8a'] = data8a.copy()

In [23]:
for x in da.keys():
      print("Shape of "+x+" ", da[x].shape, )

Shape of df1a  (3474, 42)
Shape of df2a  (991, 41)
Shape of df3a  (3457, 40)
Shape of df4a  (464, 41)
Shape of df5a  (1000, 40)

In [24]:
#drop colunas exclusivas  e desconhecidas de algumas bases das tabelas  de usuarios(Test_Set)
da['df1a'].drop(['test_set_1', 'test_set_2'], axis=1, inplace=True)
da['df2a'].drop(['test_set_1'], axis=1, inplace=True)
da['df4a'].drop(['test_set_2'], axis=1, inplace=True)

In [25]:
#Adiciona Rotulo - Base GroundTruth
#Genuine
da['df1a']['Alvo'] = 0
#Robos
da['df2a']['Alvo'] = 1
da['df3a']['Alvo'] = 1
da['df4a']['Alvo'] = 1
da['df5a']['Alvo'] = 1
###
#da['df6a']['Alvo'] = 1
#da['df7a']['Alvo'] = 1
#da['df8a']['Alvo'] = 1

In [40]:
#concatenar users
users = pd.concat([da['df1a'], da['df2a'], da['df3a'], da['df4a'], da['df5a']])
users.shape

(9386, 41)

In [41]:
tweets=pd.read_csv('tweets.csv', sep=',')
tweets.drop("Unnamed: 0", axis=1, inplace=True)

In [42]:
users.rename(columns= {'id': 'user_id'}, inplace=True)
users.user_id = users.user_id.astype('float')
print(users.user_id.dtypes)
print(tweets.user_id.dtypes)

float64
float64

Analysing only users that have tweets on new sample of tweets table created in "Tweets" Notebook.

In [43]:
a = tweets[['user_id']].drop_duplicates('user_id')
users=pd.merge(users, a, on='user_id', how='right')

In [44]:
#verifica missing
print(users.isnull().sum())

user_id                                  0
name                                     1
screen_name                              0
statuses_count                           0
followers_count                          0
friends_count                            0
favourites_count                         0
listed_count                             0
url                                   1885
lang                                   114
time_zone                              663
location                              1039
default_profile                       2102
default_profile_image                 2680
geo_enabled                           1955
profile_image_url                        0
profile_banner_url                    1591
profile_use_background_image           231
profile_background_image_url_https     114
profile_text_color                     114
profile_image_url_https                114
profile_sidebar_border_color           114
profile_background_tile               1679
profile_sidebar_fill_color             114
profile_background_image_url             0
profile_background_color               114
profile_link_color                     114
utc_offset                             663
is_translator                         2682
follow_request_sent                   2682
protected                             2682
verified                              2675
notifications                         2682
description                            246
contributors_enabled                  2682
following                             2682
created_at                               0
timestamp                                0
crawled_at                               0
updated                                  0
Alvo                                     0
dtype: int64

In [45]:
#Variaveis que  por hora, só importam se possuem ou se não possuem.
columns = ['url', 'location', 'default_profile', 'default_profile_image','profile_image_url_https','profile_banner_url', 'verified']
users[columns]=users[columns].notnull().astype('int').astype('str')

In [46]:
#drop tabelas de users atributos descontinuados de altissimo missing
columns = ['following','utc_offset', 'time_zone', "lang", 'geo_enabled','follow_request_sent','notifications',
'profile_background_image_url','profile_image_url','profile_background_color','profile_background_image_url_https',
'profile_background_tile','profile_link_color','profile_sidebar_border_color','profile_sidebar_fill_color','profile_text_color',
'profile_use_background_image','is_translator','contributors_enabled', 'updated', 'protected']
users.drop(columns=columns, axis=1, inplace=True)

In [47]:
#only description and name have some missing. But i will count the size and fill with "" below
print(users.isnull().sum())

user_id                      0
name                         1
screen_name                  0
statuses_count               0
followers_count              0
friends_count                0
favourites_count             0
listed_count                 0
url                          0
location                     0
default_profile              0
default_profile_image        0
profile_banner_url           0
profile_image_url_https      0
verified                     0
description                246
created_at                   0
timestamp                    0
crawled_at                   0
Alvo                         0
dtype: int64

## New features

In [48]:
#transforma a data de criacao e data de coleta das contas para formato data e calcula idade da conta 
users['timestamp'] = pd.to_datetime(users['timestamp'])
users['age'] = pd.to_datetime(users['crawled_at'])-users['timestamp']
users['age'] = users['age'].dt.days
#exclui crawled-at,
users.drop('crawled_at', axis=1, inplace=True)

In [49]:
#Users with hight "in_following_followers", have low influence. To avoid division by zero, it's necessary a special condition
x = users[users["followers_count"]== 0]
x['in_following_followers'] = x['friends_count']
y = users[users["followers_count"]!= 0]
y['in_following_followers'] = y['friends_count']/y['followers_count']
users = pd.concat([x,y])
#users.shape
#users2.shape

### Creating indicator to size text fields and  proportion of number in Screen_Name

In [50]:
users['n_alfa_sname']=0
users['n_number_sname']=0
users['size_sname']=users['screen_name'].astype('str').apply(len)
users['description'].fillna("", inplace=True) #fill missing with "" to count
users['size_description']=users['description'].astype('str').apply(len)
users['name'].fillna("", inplace=True) # fill missing with "" to count
users['size_name']=users['name'].astype('str').apply(len)

In [51]:
i=0
for y in users['screen_name']:
    #print("nome",y)
    a=n=0
    for c in y:
        #print("caracter",c)
        s = c.isdigit()
        if s: #se é digito, soma 1
            n+=1
        else:
            a+=1
        
        #print("numero",n, "alfa",a)
    #print('antes',i)
    users['n_alfa_sname'].iloc[i]=a    
    users['n_number_sname'].iloc[i]=n
    #print('depois',i)
    i+=1
    #print('prox pos',i)

In [52]:
#criacao indice de quantidade de numeros
users['in_number_sname'] = users['n_number_sname']/users['size_sname']

In [53]:
#exclui outras features da tabela de usuarios que geraram outras variaveis pra representa-las - n_alfa_sname nem usou :(
colunas = ['name', 'screen_name', 'created_at','description']
#for x in da.keys():
users.drop(columns= colunas, axis=1, inplace=True)

In [54]:
users.shape

(2682, 23)

In [55]:
users.head()

,user_id,statuses_count,followers_count,friends_count,favourites_count,listed_count,url,location,default_profile,default_profile_image,profile_banner_url,profile_image_url_https,verified,timestamp,Alvo,age,in_following_followers,n_alfa_sname,n_number_sname,size_sname,size_description,size_name,in_number_sname
1093,465196345.0,120,0,0,0,0,0,1,0,0,0,1,0,2012-01-16 03:36:42,1,875,0.0,14,0,14,61,15,0.0
1096,465306140.0,33,0,0,0,0,0,1,0,0,0,1,0,2012-01-16 07:13:22,1,865,0.0,14,0,14,133,15,0.0
1099,465318952.0,137,0,0,0,0,0,1,0,0,0,1,0,2012-01-16 07:39:15,1,875,0.0,15,0,15,100,16,0.0
1101,465320112.0,62,0,0,0,0,0,1,0,0,0,1,0,2012-01-16 07:41:32,1,875,0.0,15,0,15,76,16,0.0
1105,465325633.0,63,0,0,0,0,0,1,0,0,0,1,0,2012-01-16 07:52:53,1,872,0.0,9,0,9,48,10,0.0

In [56]:
users.to_csv("users.csv", sep=',')